@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

h2{
  font-size: 2rem;
  font-weight: 500;
  color: #0e226f;
  margin-bottom: 20px;
}

h1{
  font-size: 2.5rem;
  font-weight: 500;
  color: #0e226f;
  margin-bottom: 20px;
}

.card-grid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-gridSimilars {
 
  display: flex;
  
  flex-wrap: wrap;
  
}
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.movieDetail{
  max-width: 90%;
}

.movieDetail img{
  min-width: 50px;
}


input:invalid {
  border: 2px solid  #0e226f;
}








/* body {
  background-color: #ffffff;
  padding: 0px 60px 0px 60px;
  

}
a {
  font-weight: 500;
  color: #0e226f !important;
  text-decoration: none;
  font-size: 1.6rem !important;
}



.cardItem {
  color: black !important;
  width: 22rem;
  margin: 10px;
}

.cardItem img {
 
  padding: 5px;
  
}

.cardItem .card-body .h5 {
  color: black;
  
}
.cardItem .card-body  .card-text {
  color: black;
  
}

.movieSection {
  display: flex;
  
  
  
}
.movieSection .Dropdown{
  margin-left: auto;
} */